<a href="/suscriptores/findAll/view">
    <button type="button" class="btn btn-link">View</button>
</a>
<a href="/search/findAll/view">
    <button type="button" class="btn btn-link">Search</button>
</a>